*{
    box-sizing: border-box;
    text-decoration: none;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 10;
} 

body{
    margin: 0;
    background-color: rgb(29, 29, 29);
}

div {
    display: block;
    unicode-bidi: isolate;
}

header{
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    justify-content: space-between;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgb(29, 29, 29);
} 

h1{
    font-weight: bold;
    font-size: 3rem;
}

a{
    color: #61aef1;
}

a:hover{
    text-decoration: underline;
}

small{
    font-size: 1.125rem;
    font-weight: 400;
}

@media only screen and (min-width: 1500px) {
    .content{
        max-width: 1460px;
    }
}

.content{
    margin: 0 auto;
}

.profile-info{
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-picture{
    border: 4px solid  #61aef1;
    border-radius: 50%;
}

.name{
    color: #61aef1;
} 

.name small
{
    margin-top: 4px;
    display: block;
}

.shortcuts{
    margin-left: auto;
    display: flex;
    gap: 30px;
    align-items: center;
}

.projects{
    gap: 30px;
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects video{
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}