*{
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-color: rgb(29, 29, 29);
}

.sticky{
    position: fixed;
    top: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

header{
    flex-direction: row;
    padding: 32px 16px 0;
    margin: -32px -16px 16px;
}

h1{
    font-weight: bold;
    font-size: 3rem;
}

small{
    font-size: 1.125rem;
    font-weight: 400;
}

@media only screen and (min-width: 1200px) {
    .content{
        max-width: 1168px;
    }
}

.content{
    margin: 0 auto;
}

.name{
    color: #61aef1;
} 

.name small
{
    margin-top: 4px;
    display: block;
}