*{
    box-sizing: border-box;
    text-decoration: none;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 10;
} 

body{
    margin: 0;
    background-color: rgb(29, 29, 29);
}

div {
    display: block;
    unicode-bidi: isolate;
}

header{
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    justify-content: space-between;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgb(29, 29, 29);
} 

h1{
    font-weight: bold;
    font-size: 3rem;
}

a{
    color: #61aef1;
}

a:hover{
    text-decoration: underline;
}

small{
    font-size: 1.125rem;
    font-weight: 400;
}

@media only screen and (min-width: 1500px) {
    .content{
        max-width: 1460px;
    }
}

.content{
    margin: 0 auto;
}

.profile-info{
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-picture{
    border: 4px solid  #61aef1;
    border-radius: 50%;
}

.name{
    color: #61aef1;
} 

.name small
{
    margin-top: 4px;
    display: block;
}

.shortcuts{
    margin-left: auto;
    display: flex;
    gap: 30px;
    align-items: center;
}

.projects{
    gap: 30px;
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: justify;
}

.projects div{
    position: relative;
    width: 100%;
    max-width: 600px;
}

.projects video{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.projects video:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease;
    filter: brightness(0.5);
}

.projects h1, .projects p, .projects h2, .projects h3{
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.projects h1, .projects h3{
    top: 20px;
    font-size: 2rem;
}

.projects h1{
    left: 20px;
}

.projects h3{
    right: 20px;
}

.projects p{
    top: 50%;
    left: 40px;
    right: 40px;
    transform: translateY(-50%);
    font-size: 1.25rem;
}

.projects h2{
    bottom: 20px;
    left: 20px;
    font-size: 1.5rem;
}

.projects div:hover h1, .projects div:hover p , .projects div:hover h2, .projects div:hover h3{
    opacity: 1;
}